{% extends 'champsquarebackend/dashboard/layout.html' %}
{% load i18n %}
{% load static %}

{% block body_class %}{{ block.super }}Video Room{% endblock %}

{% block title %}
    {% trans "Video Room" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Video Room" %}</li>
    </ul>
{% endblock %}

{% block headertext %}Video Room {% endblock %}

{% block dashboard_content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="container hide" id="room">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Remote Video #1 <span class="label label-info hide" id="remote1"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote1"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Remote Video #2 <span class="label label-info hide" id="remote2"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote2"></div>
						</div>
					</div>
				</div>
			</div>
			<p id='no-video'>{% trans "No live video feed found" %}</p>
		</div>
	</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="{% static 'champsquarebackend/webcam/js/janus.js' %}"></script>
<script type="text/javascript" src="{% static 'champsquarebackend/webcam/js/viewroom.js' %}"></script>  
{% endblock %}
