{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ChampionSquare is an online academy where one can watch tutorials, take test to prepare themselves for exams like IIT-JEE(Main,Adv.) and Medical entrance exams">
    <meta name="author" content="ChampionSquare">
    <title>ChampionSquare | An Online Academy</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'home/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'home/img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'home/img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'home/img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'home/img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <script src="{% static 'home/js/modernizr.custom.80028.js' %}"></script>

    {% block styles %}
        <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
	    <link href="{% static 'home/css/vendors.css' %}" rel="stylesheet">
	    <link href="{% static 'home/css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
    {% endblock styles %}

    {% block extrastyles %}
    {% endblock extrastyles %}
    <!-- BASE CSS -->
    
</head>
<body>
{% if messages %}
        <div id="note">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }} </p>
            {% endfor %}
            <a id="close">[close]</a>
        </div>
{% endif %}
<div id="page">
    {% block layout %}
    {% endblock layout %}
</div>
	

{% block scripts %}
<script src="{% static 'home/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'home/js/common_scripts.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
	<script src="{% static 'home/assets/validate.js' %}"></script>
{% endblock scripts %}
{% block extrascripts %}
{% endblock extrascripts %}
</body>
</html>