{% extends 'landing/layout.html' %}
{% load static %}

{% block extrastyles %}
	<link href="css/skins/square/grey.css" rel="stylesheet">
{% endblock extrastyles %}


	{% block content %}
	<main>
		<section id="hero_in" class="courses">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Online courses</h1>
					<p>Our Sample Courses Page</p>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="filters_listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="listing_filter" value="all" checked>
							<label for="all">All</label>
							<input type="radio" id="popular" name="listing_filter" value="popular">
							<label for="popular">Popular</label>
							<input type="radio" id="latest" name="listing_filter" value="latest">
							<label for="latest">Latest</label>
						</div>
					</li>
					<li>
						<div class="layout_view">
							<a href="#0" class="active"><i class="icon-th"></i></a>
							
						</div>
					</li>
					<li>
						<select name="orderby" class="selectbox">
							<option value="category">Category</option>
							<option value="category 2">IIT-JEE</option>
							<option value="category 3">JEE-Main</option>
							<option value="category 4">NEET</option>
						</select>
					</li>
				</ul>
			</div>
			<!-- /container -->
		</div>
		<!-- /filters -->

		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebar">
					<div id="filters_col"> <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type">
								<h6>Category</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox" class="icheck" checked>all <small>(11)</small>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">IIT-Jee <small>(3)</small>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">Jee-Main <small>(3)</small>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">NEET <small>(3)</small>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">Board Exams(+2) <small>(2)</small>
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>Rating</h6>
								<ul>
									<li>
										<label>
											<input type="checkbox" class="icheck">
											<span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <small>(145)</small></span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">
											<span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(25)</small></span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">
											<span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(68)</small></span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">
											<span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(34)</small></span>
										</label>
									</li>
									<li>
										<label>
											<input type="checkbox" class="icheck">
											<span class="rating"><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(10)</small></span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!--/collapse -->
					</div>
					<!--/filters col-->
				</aside>
				<!-- /aside -->

				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="#0" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/engineering_entrance.jpg' %}" class="img-fluid" alt=""></a>
									<div class="price">₹9999</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>IIT-Jee Prep Bundle</h3>
									<p>Take this course to excel in your IIT-Jee Exam with top rank and secure a great future for yourself</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 105h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						<!-- /box_grid -->
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="#0" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/engineering_entrance.jpg' %}" class="img-fluid" alt=""></a>
									<div class="price">₹7999</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>Jee-Main Prep Bundle</h3>
									<p>Take this exam to get top rank in Jee-Main exam to get admission in top NIT Colleges.</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 1h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						<!-- /box_grid -->
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/medical_entrance.png' %}" class="img-fluid" alt=""></a>
									<div class="price">₹1699</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>AIIMS Entrance Prep Bundle</h3>
									<p>Fullfil your dream of becoming a doctor by taking this course!</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 100h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						<!-- /box_grid -->
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="#0" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/medical_entrance.png' %}" class="img-fluid" alt=""></a>
									<div class="price">₹1399</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>NEET Prep Bundle</h3>
									<p>Crack NEET entrance exam by taking this course and fullfil your dream, become a doctor</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 100h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						<!-- /box_grid -->
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="#0" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/board_exam.jpeg' %}" class="img-fluid" alt=""></a>
									<div class="price">₹2999</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>CBSE +2 Exam Prep</h3>
									<p>Get top percentile in your CBSE +2 board exam by taking this course.</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 99h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						<!-- /box_grid -->
						<div class="col-md-6">
							<div class="box_grid wow">
								<figure class="block-reveal">
									<div class="block-horizzontal"></div>
									<a href="#0" class="wish_bt"></a>
									<a href="{% url 'landing:course-detail' %}"><img src="{% static 'home/img/board_exam.jpeg' %}" class="img-fluid" alt=""></a>
									<div class="price">₹1999</div>
									<div class="preview"><span>Preview course</span></div>
								</figure>
								<div class="wrapper">
									<small>Category</small>
									<h3>Bihar Board ISc.</h3>
									<p>Get high marks in your Bihar Board ISc exam by taking this course.</p>
									<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
								</div>
								<ul>
									<li><i class="icon_clock_alt"></i> 89h 30min</li>
									<li><i class="icon_like"></i> 890</li>
									<li><a href="{% url 'landing:course-detail' %}">Enroll now</a></li>
								</ul>
							</div>
						</div>
						
					</div>
					<!-- /row -->
					
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-help2"></i>
							<h4>Need Help? Contact us</h4>
							<p>Contact our Customer-Support.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-wallet"></i>
							<h4>Payments and Refunds</h4>
							<p>We have 10-days refund policy.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-note2"></i>
							<h4>Quality Standards</h4>
							<p>We maintain high standard</p>
						</a>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->
{% endblock content %}

	