{% extends "landing/layout.html" %}
{% load static %}

<!-- YOUR CUSTOM CSS -->
{% block extrastyles %}
<link href="{% static 'home/css/custom_stylesheet.css' %}" rel="stylesheet">
{% endblock extrastyles %}

	{% block content %}
		<main>
		<section class="hero_single version_2">
			<div class="wrapper">
				<div class="container">
					<h3>Leading Assessment Platform</h3>
					<h4>We help you with</h3>
						<p>Online Exams | Online Lectures | Managing Your Class</p>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="features clearfix">
			<div class="container">
				<ul>
					<li><i class="pe-7s-study"></i>
						<h4>Online Exams</h4><span>Conduct your exams securely and safely!</span>
					</li>
					<li><i class="pe-7s-cup"></i>
						<h4>Online Lectures</h4><span>Get help with publishing your lectures Online!</span>
					</li>
					<li><i class="pe-7s-target"></i>
						<h4>Focus on target</h4><span>Get help with every step of going digtal!</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /features -->

		<div class="container-fluid margin_120_0">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Our Sample Lectures</h2>
				<p>"You don't have to be great to start, but you have to start to be great." - Zig Ziglar</p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							{#							<a href="#">#}
							{#								<div class="preview"><span>Preview course</span></div>#}
							<iframe width="360" height="250" src="https://www.youtube-nocookie.com/embed/snzoYlF8JDw"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>
							{#                            </a>#}
							<div class="price">Free</div>

						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 01 - Intro & Position in Periodic Table</h3>
							<p>This is the first lecture of Hydrogen in which you are going to learn about it's
								introduction and position in Periodic Table </p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
									class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								<small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 15 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							{#							<a href="#">#}
							<iframe src="https://www.youtube-nocookie.com/embed/wtk6eeZTWb4" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>
							{#                            </a>#}
							<div class="price">Free</div>
							{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 02 - Preparation of Hydrogen - Part 1</h3>
							<p>In second lecture of Hydrogen you are going to learn about how to prepare Hydrogen.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
									class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								<small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>23 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							{#							<a href="#"></a>#}
							<iframe width="370" height="265" src="https://www.youtube.com/embed/kg30lxfoS9w"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

							<div class="price">Free</div>
							{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 03 - Preparation of Hydrogen - Part 2</h3>
							<p>This is the second and last part of preparation of Hydrogen</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
									class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								<small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>15min</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							{#							<a href="course-detail.html"><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_4.jpg" class="img-fluid" alt=""></a>#}
							<iframe width="370" height="265" src="https://www.youtube.com/embed/0JMtDdc1h8U"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

							<div class="price">Free</div>
							{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 04 - Properties, Uses, Isotopes</h3>
							<p>This is the fourth lecture of Hydrogen in which you are going to learn about properties,
								uses, isotopes and isotopic effect in Hydrogen.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
									class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								<small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>17 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
							{#							<a href="course-detail.html"><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_5.jpg" class="img-fluid" alt=""></a>#}
							<iframe width="370" height="265" src="https://www.youtube.com/embed/OH4DomPPEgQ"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

							<div class="price">Free</div>
							{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 05 - Hydride</h3>
							<p>In the fifth lecture of Hydrogen chapter you are going to learn about Hydride which is an
								important topic from exam point of view.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i
									class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								<small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>24 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /carousel -->
			<div class="container">
				<p class="btn_home_align"><a href="{% url 'landing:courses' %}" class="btn_1 rounded">View all courses</a></p>
			</div>
			<!-- /container -->
			<hr>
		</div>
		<!-- /container -->

		<div class="container margin_60_35">
		<div class="main_title_2">
			<span><em></em></span>
			<h2>Gallery ...</h2>
			<p>Here are some proof of our previous work in collaboration with our amazing partners.</p>
		</div>
		<div class="grid">
			<ul class="magnific-gallery">
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_8.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_8.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_1.png' %}" height="300" width="400" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_1.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_5.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_5.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_6.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_6.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_4.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_4.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_2.png' %}" height="300" width="400" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_2.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>

						</figcaption>
					</figure>
				</li>

				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_9.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_9.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="{% static 'home/img/gallery/pic_12.png' %}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="{% static 'home/img/gallery/pic_12.png' %}" title="Photo title"
									data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>ChampionSquare</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<!-- /grid gallery -->
	</div>
	<!-- /container -->




		<div class="container margin_30_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>ChampionSquare Categories Courses</h2>
				<p>The capacity to learn is a gift; the ability to learn is a skill, the willingness to lean is a choice
				</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static 'home/img/engineering_entrance.jpg' %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Engineering Entrance (IIT-Jee Adv./Main)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static 'home/img/medical_entrance.png' %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Medical Entrance(AIIMS, NEET)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static 'home/img/board_exam.jpeg' %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Board Exam (+2)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->

	
	{% endblock content %}

	
	
{% block extrascrpts %}
<script>
	close = document.getElementById("close");
	close.addEventListener('click', function () {
		note = document.getElementById("note");
		note.style.display = 'none';
	}, false);
</script>
{% endblock extrascrpts %}