{% extends 'landing/base.html' %}
{% load static %}

{% block layout %}
	
	<div id="register_bg">
		<div id="login">
		<aside>
			<figure>
				<a href="/"><img src="{% static 'home/img/logo3.png' %}" width="149" height="42" data-retina="true" alt=""></a>
			</figure>
			<form id="register_form" method="post" autocomplete="off">
				{% csrf_token %}
				<div class="form-group">
				{{ form.non_field_errors }}
				{% for field in form.visible_fields %}
      				<tr>
        				
        				<td>
          					{{ field.errors }}
        				</td>
      				</tr>
    			{% endfor %}

					<span class="input">
					<input class="input_field" name="first_name" type="text" id="id_first_name">
						<label class="input_label">
						<span class="input__label-content">Your Name</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" name="last_name" type="text" id="id_last_name">
						<label class="input_label">
						<span class="input__label-content">Your Last Name</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" name="email" type="email" id="id_email">
						<label class="input_label">
						<span class="input__label-content">Your Email</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" name="password1" type="password" id="id_password1">
						<label class="input_label">
						<span class="input__label-content">Your password</span>
					</label>
					</span>

					<span class="input">
					<input class="input_field" name="password2" type="password" id="id_password2">
						<label class="input_label">
						<span class="input__label-content">Confirm password</span>
					</label>
					</span>
					<input type="hidden" name="redirect_url" id="id_redirect_url">
					
					<div id="pass-info" class="clearfix"></div>
				</div>
				<button name="registration_submit" type="submit" value="Register" class="btn_1 rounded full-width add_top_30">Register to ChampionSquare</button>
				<div class="text-center add_top_10">Already have an acccount? <strong><a href="{% url 'user:login' %}">Sign In</a></strong></div>
			</form>
			<div class="copy">© 2021 ChampionSquare</div>
		</aside>
	</div>
	</div>
	<!-- /login -->
{% endblock %}

{% block extrascripts %}
<!-- SPECIFIC SCRIPTS -->
<script src="{% static 'home/js/pw_strenght.js' %}"></script>
  
{% endblock extrascripts %}
