{% extends 'landing/layout.html' %}
{% load static %}
	{% block content %}
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Teacher detail</h1>
					<p>Sample page of teacher detail</p>
				</div>
			</div>
		</section>
		<!--/hero_in-->
		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebar">
					<div class="profile">
						<figure><img src="{% static 'home/img/teacher.png' %}" alt="Teacher" class="rounded-circle"></figure>
						<ul class="social_teacher">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="https://twitter.com/ujjawal1729"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/andy1729/"><i class="icon-linkedin"></i></a></li>
							<li><a href="mailto:ujjawalanand1729@gmail.com"><i class="icon-email"></i></a></li>
						</ul>
						<ul>
							<li>Name <span class="float-right">Ujjawal Anand</span> </li>
							<li>Students <span class="float-right">42</span></li>
							<li>Lessons <span class="float-right">12</span></li>
							<li>Courses <span class="float-right">3</span></li>
						</ul>
					</div>
				</aside>
				<!--/aside -->

				<div class="col-lg-9">
					<div class="box_teacher">
						<div class="indent_title_in">
							<i class="pe-7s-user"></i>
							<h3>Profile</h3>
							<p>ChampionSquare Educator since 11th June, 2020</p>
						</div>
						<div class="wrapper_indent">
							<p>More than 13 Years of Experience in Teaching Chemistry Moulded large number students as IITans.</p>
							
							<h5>Credentials</h5>
							<div class="row">
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>September 2009 - Bachelor of Technology</strong>
											<p>IIT-K</p>
										</li>
										
										
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list_3">
										<li><strong>December 2012 - Master of Technology</strong>
											<p>IIT-Delhi</p>
										</li>
									</ul>
								</div>
							</div>
							<!-- End row-->
						</div>
						<!--wrapper_indent -->
						<hr class="styled_2">
						<div class="indent_title_in">
							<i class="pe-7s-display1"></i>
							<h3>My courses</h3>
							<p>IIT-JEE, Jee-Main, NEET</p>
						</div>
						<div class="wrapper_indent">
							
								<table class="table table-responsive table-striped add_bottom_30">
									<thead>
										<tr>
											<th>Category</th>
											<th>Course name</th>
											<th>Rate</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Physics</td>
											<td><a href="#">Mechanics</a></td>
											<td class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i> <i class="icon-star voted"></i></td>
										</tr>
										<tr>
											<td>Physics</td>
											<td><a href="#">Rotatinal Motion</a></td>
											<td class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i> <i class="icon-star"></i></td>
										</tr>
										<tr>
											<td>Physics</td>
											<td><a href="#">Electrostatics</a></td>
											<td class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i> <i class="icon-star"></i></td>
										</tr>
										
									</tbody>
								</table>
						</div>
						<!--wrapper_indent -->
					</div>
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	{% endblock content %}
	
	
