{% extends template %}
{% load thumbnail %}

{% block pagetitle %} Profile {% endblock %}
{% block main %}
<div class="text-center">
  <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
</div>
  <table class="table table-bordered">

  <tr>
    <th><label for="id_first_name"><h5>First name:</h5></label></th>
    <th><label for="id_first_name"><h5>{{ user.first_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_last_name"><h5>Last name:</h5></label></th>
    <th><label for="id_last_name"><h5>{{ user.last_name }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_email"><h5>Email:</h5></label></th>
    <th><label for="id_email"><h5>{{ user.email }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_institute"><h5>Institute:</h5></label></th>
    <th><label for="id_institute"><h5>{{ user.profile.institute }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_roll_number"><h5>Roll number:</h5></label></th>
    <th><label for="id_roll_number"><h5>{{ user.profile.roll_number }}</h5></label></th>
  </tr>
  <tr>
    <th><label for="id_phone_number"><h5>Phone Number:</h5></label></th>
    <th><label for="id_phone_number"><h5>{{ user.profile.phone_number }}</h5></label></th>
  </tr>
  </table>
  <a class="btn btn-primary pull-right" href="{{ URL_ROOT }}/exam/editprofile/">Edit Profile</a>
{% endblock %}
