{% extends "manage.html" %}
<!-- {% load thumbnail %} -->


{% block pagetitle %} List of Questions {% endblock pagetitle %}

{% block script %}
<script src="{{ URL_ROOT }}/static/Uscholar/js/show_question.js"></script>
<script src="{{ URL_ROOT }}/static/Uscholar/js/question_filter.js"></script>
{% endblock %}

{% block content %}

{% if message %}
<h4>{{ message }}</h4>
{% endif %}
{% if msg %}
<h4>{{ msg }}</h4>
{% endif %}
<br><br>
<form name=frm action="" method="post">
{% csrf_token %}
{#<div class="row" id="selectors">#}
{#    <h5 style="padding-left: 20px;">Filters</h5>#}
{#    <div class="col-md-3">#}
{#        {{ form.question_type }}#}
{#    </div>#}
{#    <div class="col-md-3">#}
{#        {{ form.language }}#}
{#    </div>#}
{#    <div class="col-md-3">#}
{#        {{ form.marks }}#}
{#    </div>#}
{#</div>#}
{#<br>#}
{#    <button class="btn btn-primary" type="button" onClick='location.replace("{{URL_ROOT}}");'>Clear Filters</button>#}
{#<br>#}

<div id="filtered-questions">
{% if questions %}
<h5><input id="checkall" type="checkbox"> Select All </h5>
{% for question in questions %}
     <input type="checkbox" name="question" value="{{ question.id }}">&nbsp;&nbsp; {{ forloop.counter }}
     <a href="{% url 'Uscholar:edit_question' question_id=question.id %}" class="glyphicon glyphicon-edit">edit</a><br>
     <p>{{ question.description|safe }}</p>
       
    <p> Correct Answer : {{ question.get_right_answer }}</p>
   
{% endfor %}
{% endif %}
</div>
<br>
<button class="btn btn-primary" type="button" onclick='location.replace("{% url 'Uscholar:add_question' %}");'>Add Question <span class="glyphicon glyphicon-plus"></span></button>&nbsp;&nbsp;
<!-- {% if questions %}
<button class="btn btn-primary" type="submit" name="test" value="test">Test Selected</button>&nbsp;&nbsp;
{% endif %} -->
<button class="btn btn-danger" type="submit" onClick="return confirm_delete(frm);" name='delete' value='delete'>Delete Selected <span class="glyphicon glyphicon-minus"></span></button>
</form>
{% endblock %}
