{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="{% url 'dashboard:participant-detail' pk=record.id %}{% querystring %}">{% trans "Details" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz-participant-update' pk=record.id quiz_pk=record.quiz.id %}{% querystring %}">{% trans "Edit" %}</a>
            </li>
            <li>
                <a href="{{ record.get_absolute_url }}">Take Quiz</a>
            </li>
            
        </ul>
    </div>
</div>
