<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if confirm_form %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ confirm_form.as_p }}
    <p>
      "Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import"
    </p>
    <div class="submit-row">
      <input type="submit" class="default" name="confirm" value="Confirm import">
    </div>
  </form>
{% endif %}

{% if results %}
    
  <h2>
    "Preview"
  </h2>
 <table class="table table-striped table-responsive">

            <th>Batch</th>
			<th>Date</th>
			<th>Name</th>
			<th>Roll No.</th>
			<th>Full Marks</th>
			<th>Marks Obtained</th>
            <th>Correct</th>
            <th>Incorrect</th>
            <th>Percentile</th>
            <th>Rank</th>

			{% for result in results %}
				<tr>
				<td>{{ result.batch }}</td>
				<td>{{ result.date }}</td>
				<td>{{ result.name }}</td>
				<td>{{ result.uid }}</td>
				<td>{{ result.full_marks }}</td>
				<td>{{ result.marks }}</td>
				<td>{{ result.correct }}</td>
                    <td>{{ result.incorrect }}</td>
				<td>{{ result.percentile }}</td>
                    <td>{{ result.rank }}</td>


				</tr>
					{% endfor %}
		</table>
  {% endif %}
</body>
</html>