{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ChampionSquare is an online academy where one can watch tutorials, take test to prepare themselves for exams like IIT-JEE(Main,Adv.) and Medical entrance exams">
    <meta name="author" content="ChampionSquare">
    <title>ChampionSquare | An Online Academy</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static "home/img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static "home/img/apple-touch-icon-57x57-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static "home/img/apple-touch-icon-72x72-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static "home/img/apple-touch-icon-114x114-precomposed.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static "home/img/apple-touch-icon-144x144-precomposed.png" %}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <script src="{% static "home/js/modernizr.custom.80028.js" %}"></script>

    <!-- BASE CSS -->
    <link href="{% static "home/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "home/css/style.css" %}" rel="stylesheet">
	<link href="{% static "home/css/vendors.css" %}" rel="stylesheet">
	<link href="{% static "home/css/icon_fonts/css/all_icons.min.css" %}" rel="stylesheet">


    <!-- YOUR CUSTOM CSS -->
    <link href="{% static "home/css/custom_stylesheet.css" %}" rel="stylesheet">

</head>

<body>
    {% if messages %}
        <div id="note">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }} </p>
            {% endfor %}
            <a id="close">[close]</a>
        </div>
    {% endif %}
	<div id="page">
	<header class="header menu_2">
		<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Preload -->
		<div id="logo">
			<a href="/"><img src="{% static "home/img/logo3.png" %}" width="149" height="42" data-retina="true" alt=""></a>
		</div>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="#0">Home</a></span></li>
				<li><span><a href="#lectures">Courses</a></span></li>
			<li><span><a href="{% url 'Uscholar:login' %}">Take Test</a></span></li>
			{% if request.user.is_authenticated %}
                <li><a href="{% url 'Uscholar:logout' %}" class="icon-logout">Logout</a></li>
            {% endif %}

			</ul>
		</nav>
		<!-- Search Menu -->

	</header>
	<!-- /header -->
	
	<main>
		<section class="hero_single version_2">
			<div class="wrapper">
				<div class="container">
					<h3>What would you learn?</h3>
					<p><a href="#lectures">Watch Lectures | </a> <a href="{% url 'Uscholar:login' %}">Take Tests</a> </p>
					<!-- <p>Watch Lectures | Take Tests | Practice</p> -->
{#					<form>#}
{#						<div id="custom-search-input">#}
{#							<div class="input-group">#}
{#								<input type="text" class=" search-query" placeholder="Ex. Architecture, Specialization...">#}
{#								<input type="submit" class="btn_search" value="Search">#}
{#							</div>#}
{#						</div>#}
{#					</form>#}
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="features clearfix">
			<div class="container">
				<ul>
					<li><i class="pe-7s-study"></i>
						<h4>Video Lectures</h4><span>Watch lectures anytime, anywhere!</span>
					</li>
					<li><i class="pe-7s-cup"></i>
						<h4>Expert teachers</h4><span>Find the right instructor for you</span>
					</li>
					<li><i class="pe-7s-target"></i>
						<h4>Focus on target</h4><span>Increase your personal expertise</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /features -->

		<div class="container-fluid margin_120_0" id="lectures">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>ChampionSquare Popular Lectures</h2>
				<p>"You don't have to be great to start, but you have to start to be great." - Zig Ziglar</p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
{#							<a href="#">#}
{#								<div class="preview"><span>Preview course</span></div>#}
                            <iframe width="360" height="250" src="https://www.youtube-nocookie.com/embed/snzoYlF8JDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                                    sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>
{#                            </a>#}
							<div class="price">Free</div>

						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 01 - Intro & Position in Periodic Table</h3>
							<p>This is the first lecture of Hydrogen in which you are going to learn about it's introduction and position in Periodic Table </p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i> 15 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
{#							<a href="#">#}
                                <iframe src="https://www.youtube-nocookie.com/embed/wtk6eeZTWb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                                sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>
{#                            </a>#}
							<div class="price">Free</div>
{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 02 - Preparation of Hydrogen - Part 1</h3>
							<p>In second lecture of Hydrogen you are going to learn about how to prepare Hydrogen.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>23 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
{#							<a href="#"></a>#}
                            <iframe width="370" height="265" src="https://www.youtube.com/embed/kg30lxfoS9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                            sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

							<div class="price">Free</div>
{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 03 - Preparation of Hydrogen - Part 2</h3>
							<p>This is the second and last part of preparation of Hydrogen</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>15min</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
{#							<a href="course-detail.html"><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_4.jpg" class="img-fluid" alt=""></a>#}
                            <iframe width="370" height="265" src="https://www.youtube.com/embed/0JMtDdc1h8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                            sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

                            <div class="price">Free</div>
{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 04 - Properties, Uses, Isotopes</h3>
							<p>This is the fourth lecture of Hydrogen in which you are going to learn about properties, uses, isotopes and isotopic effect in Hydrogen.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>17 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>
				<!-- /item -->
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="#0" class="wish_bt"></a>
{#							<a href="course-detail.html"><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_5.jpg" class="img-fluid" alt=""></a>#}
                            <iframe width="370" height="265" src="https://www.youtube.com/embed/OH4DomPPEgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                            sandbox="allow-forms allow-scripts allow-pointer-lock allow-same-origin allow-top-navigation"></iframe>

                            <div class="price">Free</div>
{#							<div class="preview"><span>Preview course</span></div>#}
						</figure>
						<div class="wrapper">
							<small>Chemistry</small>
							<h3>Hydrogen Lecture - 05 - Hydride</h3>
							<p>In the fifth lecture of Hydrogen chapter you are going to learn about Hydride which is an important topic from exam point of view.</p>
							<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> <small>(145)</small></div>
						</div>
						<ul>
							<li><i class="icon_clock_alt"></i>24 Min.</li>
							<li><i class="icon_like"></i> 890</li>
							<li><a href="#">Enroll now</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /carousel -->
			<div class="container">
				<p class="btn_home_align"><a href="#" class="btn_1 rounded">View all courses</a></p>
			</div>
			<!-- /container -->
			<hr>
		</div>
		<!-- /container -->

		<div class="container margin_30_95">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>ChampionSquare Categories Courses</h2>
				<p>The capacity to learn is a gift; the ability to learn is a skill, the willingness to lean is a choice</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static "home/img/engineering_entrance.jpg" %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Engineering Entrance (IIT-Jee Adv./Main)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static "home/img/medical_entrance.png" %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Medical Entrance(AIIMS, NEET)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
					<a href="#0" class="grid_item">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="{% static "home/img/board_exam.jpeg" %}" class="img-fluid" alt="">
							<div class="info">
								<small><i class="ti-layers"></i></small>
								<h3>Board Exam (+2)</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->

	<footer>
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="{% static "home/img/logo3.png" %}" width="149" height="42" data-retina="true" alt=""></p>
					<p>ChampionSquare is an online academy.We are here to help students regarding their entrance exams of Engineering,
                        medical etc. with help of technology.We do this by connecting them with expert teachers through video lectures, practice sets and quizzes. </p>
					<div class="follow_us">
						<ul>
							<li>Follow us</li>
							<li><a href="https://www.facebook.com/ChampionSquare2/"><i class="ti-facebook"></i></a></li>
							<li><a href="https://youtube.com/championsquareofficial"><i class="ti-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Admission</a></li>
						<li><a href="#0">About</a></li>
						{% if not request.user.is_authenticated %}
                        <li><a href="">Login</a></li>
						<li><a href="#0">Register</a></li>
                        {% endif %}
						<li><a href="#0">News &amp; Events</a></li>
						<li><a href="#0">Contacts</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://+917631465569"><i class="ti-mobile"></i> + 91 7631465569</a></li>
						<li><a href="mailto:ujjawalanand1729@gmail.com"><i class="ti-email"></i> ujjawalanand1729@gmail.com</a></li>
					</ul>
					<div id="newsletter">
					<h6>Newsletter</h6>
					<div id="message-newsletter"></div>
					<form method="post" action="#" name="newsletter_form" id="newsletter_form">
						<div class="form-group">
							<input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Your email">
							<input type="submit" value="Submit" id="submit-newsletter">
						</div>
					</form>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2017 ChampionSquare</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static "home/js/jquery-2.2.4.min.js" %}"></script>
    <script src="{% static "home/js/common_scripts.js" %}"></script>
    <script src="{% static "home/js/main_script_home.js" %}"></script>
	<script src="{% static "home/assets/validate.js" %}"></script>
    <script>
        close = document.getElementById("close");
        close.addEventListener('click', function() {
            note = document.getElementById("note");
            note.style.display = 'none';
            }, false);</script>
	
</body>
</html>