{% extends 'champsquarebackend/dashboard/table.html' %}
{% load i18n %}

{% block table.caption %}
  {{ block.super }}
  <div class="pull-right">
      <div class="form-inline">
          <i class="icon-refresh"></i> {% trans "Bulk Actions" %}
          <label for="inlineCheckboxes">{% trans "With selected participants:" %}</label>
          <label>
              <input type="radio" name="action" value="delete" /> {% trans "Remove From Test" %}
          </label>
          <label>
            <input type="radio" name="action" value="email_result" /> {% trans "Send Result" %}
        </label>
          <input type="submit" value="{% trans "Go!" %}" class="btn btn-primary" />
      </div>
  </div>
{% endblock %}
