{% extends "champsquarebackend/dashboard/quiz/quiz_create.html" %}
{% load i18n %}

{% block title %}
    {% trans "Quiz General Info" %} | {{ block.super }}
{% endblock %}

{% block quiz_create_nav %}
    {% include 'champsquarebackend/dashboard/quiz/nav.html' with step=1 %}
{% endblock %}

{% block quiz_step_title %}{% trans "General Info" %}{% endblock %}


{% block quiz_meta %}
<div class="col-sm-12">
    
        <form action="" method="post" id="new_shipping_address" class="form form-horizontal">
                {% csrf_token %}
                <div class="well product-class-details">
                    {% block quiz_meta_content %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error control-group error">
                                    <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% for field in form  %}
                            {% include 'champsquarebackend/dashboard/partials/form_field.html' with field=field %}      
                        {% endfor %}
                    {% endblock quiz_meta_content %}  
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                        {% trans "or" %} <a href="{% url 'dashboard:quiz-list' %}">{% trans "cancel" %}</a>
                    </div>
                </div>
            </form>
</div>
{% endblock quiz_meta %}

{% block questionpaper %}
{% endblock questionpaper %}

{% block quiz_settings %}
{% endblock quiz_settings %}
{% block add_participants %}
{% endblock add_participants %}
