{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="{% url 'dashboard:quiz-update' pk=record.id %}{% querystring %}">{% trans "Edit" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz-questionpaper-update' pk=record.id %}">{% trans "QuestionPaper" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz-add-user' pk=record.id %}">{% trans "Add User" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz-participant-list' pk=record.id %}">{% trans "Participants" %}</a>
            </li>
            <li>
                <a href="{% url 'dashboard:quiz-answerpaper-list' pk=record.id %}">{% trans "AnswerPapers" %}</a>
            </li>
            
        
        </ul>
    </div>
</div>
