{% extends 'champsquarebackend/dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %} {{ block.super }} videos {% endblock %}

{% block title %}
{% trans "Video List" %} | {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Videos" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "videos" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if videos.data %}
   
        {% block video_list %}
            <form method="post">
                {% csrf_token %}
                {% render_table videos %}
            </form>
            <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body text-center">
                            <img class="img-responsive center-block">
                        </div>
                    </div>
                </div>
            </div>

            
        {% endblock video_list %}
    {% else %}
        <h3>{% trans "No video found" %}</h3>
    {% endif %}
{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
{% endblock onbodyload %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
 <script>
     var dots = 1;
    function processVideo(video_id) {
        var processUrl = "{% url 'dashboard:video-post-process' pk=12345 %}"
                            .replace(/12345/, video_id.toString());
        axios.get(processUrl)
            .then(function(response) {
                var task_id = response.data.task_id
                var taskUrl = "{% url 'dashboard:process-video-task' task_id=12345 %}"
                                .replace(/12345/, task_id.toString());
                fetchTaskStatus(taskUrl) 
            })
        
    }

    function fetchTaskStatus(taskUrl) {
        var progressTitle = document.getElementById('messages');
        var timer = setInterval(function() {
            updateProgressTitle(progressTitle);
            axios.get(taskUrl)
                .then(function(response){
                    var taskStatus = response.data.task_status
                    if (taskStatus === 'SUCCESS') {
                        clearTimer(timer, progressTitle, 'Successfully processed video');
                    } else if (taskStatus === 'FAILURE') {
                        clearTimer(timer, progressTitle, 'An error occurred');
                    }
                })
            .catch(function(err){
                console.log('err', err);
                clearTimer(timer, progressTitle, 'An error occurred');
            });
        }, 800);
    }

    function updateProgressTitle(progressTitle) {
    dots++;
    if (dots > 3) {
      dots = 1;
    }
    progressTitle.innerHTML = '<h4>Processing videos</h4>';
    for (var i = 0; i < dots; i++) {
      progressTitle.innerHTML += '.';
    }
  }
  function clearTimer(timer, progressTitle, message) {
    clearInterval(timer);
    progressTitle.innerHTML = message;
  }
 </script>  
{% endblock extrascripts %}