{% extends 'champsquarebackend/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} delete-video{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
        <a href="{% url 'dashboard:video-list' %}">{% trans "Videos" %}</a>
    </li>
    <li class="active">{% trans "Delete Video?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete video?" %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete video" %}</h2>
    </div>
    <form method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.name type=object.type %}
            <p>Delete video of <strong>{{ name }}</strong> type <strong>{{ type }}</strong> - are you sure?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
        {% trans "or" %} <a href="{% url 'dashboard:video-list' %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock %}
