{% extends 'champsquarebackend/dashboard/layout.html' %}
{% load i18n %}
{% load static %}
{% block body_class %}{{ block.super }}Video Records{% endblock %}

{% block title %}
    {% trans "Video Records" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "VideoRecords" %}</li>
    </ul>
{% endblock %}

{% block headertext %}Video Records {% endblock %}

{% block dashboard_content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="container hide" id="recordplay">
				<div id="demo" style="margin-top: 10%;">
					<div class="col-md-6" id="controls">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Saved Recordings</h3>
							</div>
							<div class="panel-body">
								<div class="btn-group btn-group-sm">
									<button class="btn btn-success" disabled autocomplete="off" id="play">Play</button>
									<button class="btn btn-primary" disabled autocomplete="off" id="list">Update <i id="update-list" class="fa fa-refresh"></i></button>
								</div>
								<br/>
								<div class="btn-group btn-group-sm" style="width: 100%">
									<div class="btn-group btn-group-sm" style="width: 100%">
										<p>select video from list and then hit play</p>
										<ul id="recslist" >
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 hide" id="video">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span id="videotitle">Remote Video</span> <button class="btn-xs btn-danger pull-right" autocomplete="off" id="stop">Stop</button></h3>
							</div>
							<div class="panel-body" id="videobox"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="{% static 'champsquarebackend/webcam/js/janus.js' %}"></script>
<script type="text/javascript" src="{% static 'champsquarebackend/webcam/js/savedrecord.js' %}"></script>

{% endblock %}
