{% extends 'champsquarebackend/dashboard/layout.html' %}

{% load i18n %}

{% block body_class %}{{ block.super }} orders home{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block headertext %}
{% trans "Dashboard" %}
{% endblock %}

{% block dashboard_content %}

<div class="table-header">
    <i class="icon-signal icon-large"></i>{% trans "Statistics" %}
</div>

<div class="content-block">
    <div class="row">
        <aside class="col-md-3 order-graph-details">
            <a href="{% url 'dashboard:quiz-list'%}"> <label><span><i class="icon-briefcase"></i>2</span>{% trans "Total Quizzes" %}</label></a>
            <a href="{% url 'dashboard:questions-list'%}"><label><span><i class="icon-hand-right"></i>10</span>{% trans "Total Questions" %}</label></a>
            <a href="{% url 'dashboard:users-index'%}"><label><span><i class="icon-group"></i>2</span>{% trans "Total users" %}</label></a>
            
        </aside>
        <div class="col-md-9">
           
        </div>
    </div>
</div>




{% endblock %}
